.homeMain {
  width: 100%;
  overflow: hidden;
}

.mobileSearch {
  display: none;
}

.desktopSearch {
  display: block;
}

@media (max-width: 900px) {
  .mobileSearch {
    display: block;
  }

  .desktopSearch {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .mobileSearch {
    display: none;
  }
  .desktopSearch {
    display: block;
  }
}
@media (min-width: 900px) and (max-width: 1100px) {
  .mobileSearch {
    display: none;
  }
  .desktopSearch {
    display: block;
  }
}
